@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
input {
  /* Removes OS-level styling (shadows, rounded corners on iOS, etc.) */
  -webkit-appearance: none;
  appearance: none;
  
  /* Ensures padding doesn't affect defined width */
  box-sizing: border-box;
  
  /* Inherit font styles from the parent instead of using browser default */
  font-family: inherit;
  font-size: 100%;
}

.container{
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;

    grid-template-areas: 
    'sidebar header'
    'sidebar main';
}


.sidebar{
    grid-area: sidebar;

    background-color: hsl(201.18deg 78.9% 46.47%);

    display: grid;
    grid-template-rows: 80px repeat(6,50px) 30px repeat(3,50px);
    row-gap: 15px;

    padding: 15px 15px 100px 30px;
}

.sidebar > a:nth-child(7){
    /* padding-bottom: 60px; */
}

.sidebar > a{
    display: flex;
    align-items: center;
    gap: 15px;

    color: #fff;
    font-weight: 700;
    font-size: 24px;
}

.sidebar-title{
    color: #fff;
    font-size: 32px;
    font-weight: 800;
}

.header{
    height:100%;
    grid-area: header;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 4fr 3fr;

    grid-template-areas: 
    'search icons'
    'profile buttons';

    padding: 40px;
    gap: 10px;
}

.search{
    display: flex;
    align-items: center;
    gap: 10px;
}
.search input{
    padding: 5px 0px 5px 10px;
    border: none;
    background-color: hsl(214.29deg 31.82% 91.37%);
    border-radius: 8px;

    flex:1;
}

.search input:focus{
    outline: none;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;

}

.profile{
    display: flex;
    gap: 20px;
}
.profile .text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttons button{
    background-color: hsl(201.18deg 78.9% 46.47%);
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 20px;

    color: #fff;
    font-weight: 500;
    font-size: large;
}

.text-name{
    font-size: 32px;
    font-weight: 500;
}

.main{
    grid-area: main;

    background-color: hsl(214.29deg 31.82% 91.37%);

    padding: 20px;
    gap: 10px;

    display: grid;
    grid-template-columns: 3fr 1fr;

    grid-template-areas: 
    'project ann'
    'project trending';
}

.project{
    grid-area: project;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title{
    font-size: 24px;
    font-weight: 500;
}

.grid{
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);

    gap: 20px;
}

.card{
    background-color: #fff;
    border-left: 10px solid sandybrown;
    border-radius: 10px;

    padding: 25px ;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card:hover{
    transform: translateY(-4px);
    box-shadow: 0px 8px 8px -8px rgba(0,0,0,0.3);

}
.card-icons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.card-icons img:hover{
    transform: translateY(-2px);
    cursor: pointer;
}

.ann {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ann-grid{
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    flex: 1;
}


.in-grid{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
}

.in-grid .text{
    padding: 20px 20px 20px 20px;
    border-bottom:1px solid grey ;
}

.trending{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trending-grid{
    background-color: #fff;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;
}

.users{
    display: flex;
    gap: 10px;
}

.at{
    font-weight: 500;
}